
.build{
  padding: 150px 0 124px 0;
  display: block;
}
.build-wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1267px;
  padding: 0 20px 0 20px;
}
.build-wrapper-inner{
  width: 100%;
  max-width: 1268px;
  display: grid;
  grid-template-columns: minmax(0, 1.25fr) minmax(0, 1fr);
  grid-column-gap: 106px;
}

/** Build Section Left site*/
.build-left{
  position: sticky;
  top: 150px;
}
.build-left-text{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

/** Build Section Right site*/
.build-right{
  display: grid;
  flex-flow: column;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: 520px
}
.build-right::-webkit-scrollbar{
  display: none;
}
.build-r1{
  padding: 37px 51px 49px;
  background-color: #f0f7ff;
  border-radius: 32px;
}
.build-r2{
  padding: 37px 51px 49px;
  background-color: #E0EAC8;
  border-radius: 32px;
}
.build-r3{
  padding: 37px 51px 49px;
  background-color: #CCE4EC;
  border-radius: 32px;
}
.build-r4{
  padding: 37px 51px 49px;
  background-color: #FEE6E6;
  border-radius: 32px;
}
.build-right p{
  line-height: 20px;
  padding-top: 10px !important;
}
.build-right a{
  padding-top: 10px !important
}

/*Reusable Code*/
.build-text h1{
  font-size: 58px;
  line-height: 64px;
}
.build-text h2{
  line-height: 28px;
  font-size: 24px
}
.build-text p{
  font-size: 16px;
  line-height: 28px;
  padding-top: 20px;
}
.build-text a{
  padding-top: 20px;
  text-decoration: none;
  display: flex; 
  gap: 5px;
  color: black
}

/** Responsive Design **/
@media screen and (max-width: 991px) {
  .build-wrapper-inner{
    display: block;
  }  
  .build-left{
    position: inherit;
    padding-bottom: 20px;
  }
  .build-text h1{
    font-size: 40px;
    line-height: 45px;
  }

  .build-right{
    grid-template-columns: 1fr 1fr;
    overflow-y: hidden;
    height: auto;
  }
}

@media screen and (max-width: 768px){
  .build{
    padding: 80px 0 60px 0;
  }
  .build-right{
    grid-template-columns: 330px 330px;
  }
  .build-text{
    padding: 17px 21px 39px;
  }
}
@media screen and (max-width: 480px){
  .build{
    padding: 60px 0 50px 0;
  }
  .build-text h1{
    font-size: 25px;
    line-height: 30px;
  }
  .build-right{
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
}