.contact{
  padding: 50px 0 93px;
  display: block;
}
.contact-wrapper{
  padding: 0 20px;
  max-width: 1267px;
  margin: auto;
  width: 100%;
}
.contact-inner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
/** Contact Section Left Side**/
.contact-left{
  padding-right: 20%;
}
.contact-left a img{
  width: 147px;
  height: 30px
}
.contact-left p{
  line-height: 24px;
  padding: 21px;
  font-size: 16px;
}
/** Contact Section Right Side**/
.contact-right{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.contact-right1, 
.contact-right2{
  display: flex;
  flex-direction: column;
  grid-row-gap: 15px;
}
.contact-right a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.contact-right a:hover{
  color: rgb(6, 128, 243)
}
.contact-right2-img{
  display: flex;
  gap: 20px
}
.contact-right2-img img{
  width: 24px;
  max-width: 24px;
}

/** Responsive Design**/
@media screen and (max-width: 991px){
  
}

@media screen and (max-width: 768px){
  .contact-left{
    padding-right: 5%;
  }
  .contact-right{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width:480px){
  .contact-inner{
    display: block;
  }
  .contact-left{
    padding-right: 0;
    margin-bottom: 30px;
  }
}