.hire{
  padding: 121px 0 150px 0;
  display: block;
}
.hire-wrapper{
  padding: 0 20px;
  max-width: 1267px;
  margin: auto;
  width: 100%;
}
.hire-wrapper-in{
  background-image: linear-gradient(262deg,#f0f8ff 5.8%,#ffeed5 94.22%,#fff);
  padding: 60px 60px 80px;
  border-radius: 40px;
  text-align: center;
}
.hire-wrapper-in h2{
  font-size: 16px;
  line-height: 20px;
  margin: 0 23%;
  padding-top: 23px;
}
.hire-wrapper-in h1{
  font-size: 58px;
  line-height: 64px;
  padding-top: 28px;
}
.hire-wrapper-in p{
  padding-top: 20px;
  margin: 0 13%
}
.hire-ceo{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.hire-button{
  padding-top: 41px;
}

/** Responsive Design**/
@media screen and (max-width: 991px) {
  .hire{
    padding: 80px 0 60px 0;
  }
  .hire-wrapper-in{
    padding: 50px 60px;
  }
  .hire-wrapper-in h2{
    margin: 0 10%;
  }
  .hire-wrapper-in h1{
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width: 768px){
  .hire-wrapper-in{
    padding: 25px 30px;
    border-radius: 20px;
  }
  .hire-wrapper-in h2{
    margin: 0 0;
  }
  .hire-wrapper-in h1{
    font-size: 30px;
    line-height: 35px;
  }
  .hire-button{
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 480px){
  .hire-wrapper-in{
    border-radius: 20px;
  }
  .hire-wrapper-in h1{
    font-size: 25px;
    line-height: 25px;
  }
}
@media screen and (max-width: 390px){
  .hire-button .lets-button{
    width: 110px;
    font-size: 13px;
    height: 35px;
  }
  .hire-button .whatsapp-button{
    width: 110px;
    font-size: 13px;
    height: 35px;
  }
}