.industy{
  display: block;
  background-color: #eff3f9;
  padding: 141px 0 120px 0;
}
.industy-wrapper{
  padding: 0px 20px;
  max-width: 1267px;
  width: 100%;
  margin: auto;
}

/*** Industy Section Top  Side***/
.industy-top{
  display: block;
  text-align: center;
  margin-bottom: 64px;
}
.industy-top img{
  height: 40px;
  padding-bottom:6px ;
  transform: translate(-120px);
}
.industy-top h1{
  width: 100%;
  font-size: 60px;
  font-weight: 500;
}
/*** Industy Section Bottom Portion***/
.industy-bottom{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.industy-card{
  background-color: white;
  padding: 24px 24px 42px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.industy-card-top{
  display: flex;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.industy-card-top h2{
  font-size: 24px;
  line-height: 28px;
}
.industy-card-top img{
  width: 40px;
  height: 40px;
}
.industy-card p{
  line-height: 20px;
  font-size: 16px;
}
.industy-card a{
  text-decoration: none;
  color: black;
  display: flex;
  gap: 10px;
  margin-top: 19px;
}
.industy-card a:hover{
  color: rgb(24, 94, 199);
}
.industy-card:nth-child(8){
  align-items: center;
  justify-content: center;
}


/** Responsive Design**/
@media screen and (max-width: 991px){
  .industy-bottom{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px){
  .industy{
    padding: 80px 0 70px 0;
  }
  .industy-top img{
    transform: translate(22px);
    padding-bottom: 2px;
    margin-bottom: -10px;
  }
  .industy-top h1{
    font-size: 45px;
    line-height: 48px;
  }
  .industy-bottom{
    grid-template-columns: repeat(2, 1fr);
  }
  .industy-card-top{
    column-gap: 16px;
  }
}

@media screen and (max-width:480px){
  .industy{
    padding: 70px 0 50px 0;
  }
  .industy-top{
    margin-bottom: 30px;
  }
  .industy-top img{
    transform: translate(15px);
    padding-bottom: 2px;
    margin-bottom: -10px;
  }
  .industy-top h1{
    font-size: 30px;
    line-height: 32px;
  }
  .industy-bottom{
    grid-template-columns: 1fr;
  }
  .industy-card-top{
    column-gap: 16px;
    width: 100%;
  }
}