.messege {
  padding: 112px 0 129px;
  display: block;
}

.messege-wrapper {
  padding: 0 20px;
  max-width: 1055px;
  width: 100%;
  margin: auto;
}

.messege-inner {
  text-align: center;
}

.messege-inner h1 {
  font-size: 60px;
  line-height: 64px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messege-inner h1 img {
  height: 60px;
  width: 60px;
  margin-left: 15px;
}

.messege-a1 {
  font-size: 20px;
  line-height: 28px;
  color: #f6970a;
  text-decoration: none;
  font-weight: 600;
  margin-top: 20px;
}

.messege-a1 a {
  font-size: 20px;
  line-height: 28px;
  color: #f6970a;
  text-decoration: none;
  font-weight: 600;
}

.messege-inner p {
  padding-top: 20px;
  font-size: 20px;
  line-height: 28px;
}

.messege-image {
  display: grid;
  grid-template-columns: repeat(4, 138px);
  grid-template-rows: auto;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


/** Responsive Design**/
@media screen and (max-width: 991px) {
  .messege-inner h1 {
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .messege-inner a,
  .messege-inner p{
    font-size: 16px;
    line-height: 25px;
  }
  .messege-inner h1 {
    font-size: 50px;
  }
  .messege-inner h1 img{
    height: 45px;
    width: 45px;
  }
  .messege-image{
    grid-template-columns: repeat(4, 115px);
    grid-column-gap: 50px;
  }
}

@media screen and (max-width:480px) {
  .messege{
    padding: 100px 0 60px;
  }
  .messege-inner h1 {
    font-size: 40px;
    font-weight: 600;
  }
  .messege-image{
    grid-template-columns: repeat(4, 60px);
    grid-column-gap: 40px;
  }
}

@media screen and (max-width:390px){
  .messege-inner h1{
    font-size: 30px;
  }
  .messege-inner h1 img{
    height: 35px;
    width: 35px;
  }
  .messege-image{
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 50px);
  }
}
@media screen and (max-width:360px){
  .messege-image{
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 40px);
  }

}