.project {
  padding: 104px 0 106px 0;
  background-color: #eff3f9;
  overflow: hidden;
  display: block;
}

.project-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1267px;
  padding: 0 20px 0 20px;
}

/* Project Top Section */
/* Project Top  left Section */
.project-top {
  display: grid;
  grid-column-gap: 126px;
  grid-row-gap: 126px;
  grid-template-columns: 1.25fr 1fr;
  margin-bottom: 46px;
  text-align: left;
}

.project-text h1 {
  font-size: 59px;
  line-height: 64px;
  padding-bottom: 20px;
  font-weight: 500;
}

.project-text p {
  font-size: 24px;
  line-height: 29px;
  margin-right: 64px;
}

/* Project Top  Right Section */
.project-count-wrap {
  display: block;
}

.project-count {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  display: grid;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.project-count-in {
  padding-top: 10px;
}

.project-count-n {
  font-size: 48px;
  letter-spacing: .1px;
  font-weight: bold;
}

.project-count-t {
  padding-top: 25px;
}

.project-count-in:nth-child(1) {
  border-bottom: 1px solid #cdcfda;
  padding-bottom: 30px;
}

.project-count-in:nth-child(2) {
  border-bottom: 1px solid #cdcfda;
  border-left: 1px solid #cdcfda;
  padding-left: 30px;
  padding-bottom: 30px;
}

.project-count-in:nth-child(3) {
  padding-top: 30px;
}

.project-count-in:nth-child(4) {
  border-left: 1px solid #cdcfda;
  padding-top: 30px;
  padding-left: 30px;
}

/** Project Bottm or Slide Section **/
.project-carousel {
  display: block;
}

.carousel-inner {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
}

.corousel-items {
  background-color: white;
  padding: 5px;
  border-radius: 32px;
}

/** Reusable Code **/
.cl-item-img img {
  height: 375px;
  width: 390px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.cl-item-content {
  padding: 30px;
}

.cl-item-content h1 {
  font-size: 18px;
  line-height: 28px;
}

.cl-item-content p {
  font-size: 16px;
  line-height: 22px;
  padding-top: 20px
}

.cl-item-content a {
  padding-top: 20px;
  text-decoration: none;
  display: flex;
  gap: 5px;
  color: black
}

/** Responsive Design **/
@media screen and (max-width: 991px) {
  .project-top {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .project-text h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .project-text p {
    margin-right: 0px;
  }

  .project-count {
    padding: 20px;
  }

  .carousel-wrapper {
    width: 58rem;
  }

  .carousel-inner {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) {
  .project {
    padding: 60px 0 50px 0;
  }

  .project-top {
    display: block;
  }

  .project-count-wrap {
    margin-top: 20px;
  }

  .project-count {
    margin: 20px 130px;
  }

  .carousel-wrapper {
    width: 45rem;
  }

  .cl-item-img img {
    height: 375px;
    width: 340px;
  }
}

@media screen and (max-width:480px) {
  .carousel-wrapper {
    width: 27rem;
  }

  .project-text h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .cl-item-img img {
    height: 375px;
    width: 405px;
  }

  .project-count {
    margin: 20px 20px;
  }
}

@media screen and (max-width: 428px) {
  .project-count-n {
    font-size: 40px;
  }

  .cl-item-img img {
    width: 375px;
    height: 370px;
  }
}

@media screen and (max-width:390px) {
  .project-count {
    margin: 0px;
  }

  .project-count-n {
    font-size: 40px;
  }

  .cl-item-img img {
    width: 330px;
    height: 318px;
  }
}

@media screen and (max-width:360px) {
  .project-count {
    margin: 0px;
  }

  .project-count-n {
    font-size: 30px;
  }

  .cl-item-img img {
    width: 300px;
    height: 318px;
  }
}