.service-wrapper {
  background-color: #eff3f9;
  padding: 101px 0 127px 0px;
  display: block;
}

.service-container {
  padding: 0 20px 0 20px;
  width: 100%;
  max-width: 1267px;
  margin: 0 auto;
}

/* Service Top*/
.service-top {
  margin-bottom: 46px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  align-items: center;
  grid-column-gap: 126px;
}

.service-t-l {
  font-weight: 500;
  max-width: 616px;
  line-height: 64px;
}

.service-t-r {
  font-size: 20px;
  line-height: 28px;
}

/*Service Mid*/
.service-mid {
  grid-template-columns: 1.75fr 1fr 1fr;
}

.service-small {
  position: absolute;
  background-color: #fdce4c;
  font-size: 24px;
  font-weight: 500;
  padding: 6px 26px;
  transform: rotate(-40deg) translate(-25px, -65px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 38px;

}

/* Service Bottom Section*/
.service-bottom {
  grid-template-columns: 1fr 1fr 1.75fr;
  margin-top: 16px;
}

.service-b-r {
  display: flex;
  flex-direction: column;
  gap: 50px
}

/* Service Reusable Code*/
.Service-mid-bottom {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
}

.service-box {
  padding: 72px 41px 43px 65px;
  background-color: white;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.service-box h1 {
  font-size: 18px;
  line-height: 28px;
}

.service-box p {
  font-size: 16px;
  line-height: 22px;
  padding-top: 20px
}

.service-box a {
  padding-top: 20px;
  text-decoration: none;
  display: flex;
  gap: 5px;
  color: black
}

.service-responsive {
  display: none;
}

/** Responsive Design**/
@media screen and (max-width: 991px) {

  .service-mid,
  .service-bottom {
    display: none;
  }

  .service-responsive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  .service-wrapper {
    padding: 50px 0 40px 0;
  }

  .service-top {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .service-b-r {
    gap: 15px
  }

  .service-button {
    display: flex;
    gap: 10px
  }
}

@media screen and (max-width: 480px) {
  .service-wrapper {
    padding: 30px 0 30px 0;
  }

  .service-top {
    display: block;
    text-align: center;
    margin-bottom: 20px
  }

  .service-responsive {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }

  .service-box {
    padding: 22px 21px 13px 35px;
    border-radius: 16px;
  }
}

@media screen and (max-width: 428px) {
  .service-small {
    font-size: 16px;
    transform: rotate(-40deg) translate(-19px, -50px);
    padding: 6px 16px;
  }
}

@media screen and (max-width: 390px) {
  .service-t-l.header1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 360px) {
  .service-t-l.header1 {
    font-size: 35px;
  }
}